Django                  # framework
mysqlclient             # DB association
pymysql                 # work with MySQL
cryptography
pillow                  # work with image field
djangorestframework     # API