form{
    border-style: solid;
    border-color: limegreen;
}
label{
    font-size: 25px;
    color: darkslategray;
}
input{
    background-color: wheat;
}
#id_experience{
    background-color: lightsteelblue;
}