<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/knn.css' %}">
    <title>knn</title>
</head>
<body>
    <h1>This is known nearest neighbour portal</h1>
    <table align="center" border="1px" width="600px">
        <tr>
            <th>Sl no.</th>
            <th>Expense Type</th>
            <th>Expense Amount</th>
            <th>Expense Date</th>
            <th>Voucher no.</th>
            <th>Notes</th>
        </tr>
        <tr align="center">
            <td>1</td>
            <td>Expense Type</td>
            <td>Expense Amount</td>
            <td>Expense Date</td>
            <td>Voucher no.</td>
            
        </tr>
    </table>
</body>
</html>