<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About Us</title>
</head>
<body>
    <h1>This is about us portal</h1>
    <ul style="list-style-type: lower-latin">
        <li>Machine Learning</li>
        <li>Data Science</li>
        <li>Data Analysis</li>
        <li>Django</li>
        <li>Python</li>
    </ul>
    <ol type="i" start="6">
        <li>Machine Learning</li>
        <li>Data Science</li>
        <li>Data Analysis</li>
        <li>Django</li>
        <li>Python</li>
    </ol>
</body>
</html>