{#{% extends 'common_code/base.html' %}#}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/teachers.css' %}"/>
    <title>Teachers</title>
</head>
<body>
    {% block body %}
    <h1>{{ info }}</h1>
    {% if info %}
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>email</th>
            <th>Phone</th>
            <th>Address</th>
        </tr>
        {% for th in info %}
        <tr>
            <td>{{ th.t_id }}</td>
            <td>{{ th.t_name }}</td>
            <td>{{ th.t_email }}</td>
            <td>{{ th.t_phone }}</td>
            <td>{{ th.t_address }}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <h1>Empty Database</h1>
    {% endif %}
    {% endblock %}
</body>
</html>